@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Grand+Hotel&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Poppins:wght@300&display=swap');

a {
  color: black !important;
  font-family: 'Lato', sans-serif;

}

.brand-logo,
h2 {
  font-family: 'Grand Hotel', cursive;
}

.logindiv {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  border: 2px solid darkgray;
  border-radius: 10px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #418cfc !important;
  box-shadow: 0 1px 0 0 #418cfc !important;
}

textarea:focus {
  outline: none;
  border-bottom: 1px solid #418cfc !important;
  box-shadow: 0 1px 0 0 #418cfc !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #418cfc !important;
  box-shadow: 0 1px 0 0 #418cfc !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #418cfc !important;
  box-shadow: 0 1px 0 0 #418cfc !important;
}

h6 {
  margin-top: 20px;
  border-bottom: 1px solid rgb(207, 205, 205);
}

.postimages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  width: 50%;
  padding: 1px;
  height: 50%;
  /* border-radius: 3%; */
}

.home-card {
  max-width: 550px;
  height: max-content;
  margin: 26px auto;
}

.home-card h6,
p {
  font-family: cursive;
  font-size: 16px;

}


input[type=text]:focus,
textarea[type=text]:focus {
  border-bottom: 1px solid #418cfc !important;
  box-shadow: 0 1px 0 0 #418cfc !important;
  font-family: cursive;
  font-size: 20px;
}

.postcontainer {
  margin: 30px auto !important;
  max-width: 500px !important;
  padding: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  font-family: cursive;
  font-size: 20px;
}

.profile-vals {
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
}

.modal {
  width: 80vw;
  /* height: auto; */
}

.modal {
  min-width: 90vw !important;
  max-width: 90vw !important;
  /* height: 100% !important; */
  min-height: 80vh !important;
  max-height: 80vh !important;
  /* margin: auto !important; */
  /* padding: 0 !important; */
  /* offset:  !important; */
}

.modal-content {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-content-div {
  min-width: 50% !important;
  /* height: 100% !important; */
  /* max-height: 100% !important; */
  max-width: 50% !important;
  margin: 0 !important;
  /* padding: 0 !important; */
}

.modal-content-div .modalimg {
  /* width: 100% !important; */
  /* height: 100% !important; */
  object-fit: scale-down !important;
}

/* .modal-content:nth-child(2) {
  width: 50%;
  max-width: 50%;
  margin: 10px;
  padding: 10px;
} */

.modal-footer{
  width: 45% !important;
}